<head>
  <!-- Set character encoding for the document -->
  <meta charset="utf-8">
  <!-- Instruct Internet Explorer to use its latest rendering engine -->
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <!-- Viewport for responsive web design -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Document Title -->
  <title>quantum glitch art | atoms+bits</title>
  <!-- Meta Description -->
  <meta name="description" content="glitchy art made with the help of quantum annealing">
  <!-- Standard favicon -->
  <link rel="icon" type="image/png" href="/logo-128.png">

  <link href="https://fonts.googleapis.com/css?family=Gaegu:300,400,700" rel="stylesheet">
</head>

<body>
  <div id="react-root"></div>
</body>
